{% extends "layout.html" %}
{% block body %}
<section class="team-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">About us</h2>
      </div>
      <div class="">
        <h4 style="font-size:16px;margin-top:25px; ">We help you to plan for upcoming vacations with summarizing info about your destination in two major categories i.e., travel costs and residential reservation costs.<br>
<br>We can plan vacations to 18 major destinations across Pakistan from more than 150 cities of Pakistan by also providing the facility to calculate distance between two cities and get an average travel cost. We work on details of more than 150 major cities of Pakistan.<br>
<br>We facilitates calculating costs, email notifications, worth visiting sites and hotel details.</h4>

      </div>
   </div>
</section>
{% endblock %}