{% extends "layout.html" %}
{% block body %}
<section class="team-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">Acknowledgements</h2>
      </div>
      <div class="">
        <h4 style="font-size:16px;margin-top:25px; ">All acclamation and praises are for Allah Almighty, the Most Merciful and Compassionate for the strengths He gave us, and Holy Prophet Hazrat Muhammad (SAW) a model personality for the whole of mankind. <br>
        <br>Special appreciation goes to our supervisor, Miss Sahar Waqar. This project and contribution behind it would not have been possible without her exceptional support and guidance that has been an inspiration and kept our work on track.<br>
            <br>This Project is dedicated to Pakistan, it's beauty and tourist destinations. Pakistan is an absolutely stunning country. Famous mountain peaks, emerald-green and turquoise-blue valleys, deserts filled with remnants of ancient civilization, And that’s not even the half of it.<br>
</h4>

      </div>
   </div>
</section>
{% endblock %}