{% extends "layout.html" %}
{% block body %}
<section class="team-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">Top Sights of Best Holiday Destinations! </h2>
      </div>
      <div class="table-responsive">
         <table class="table">
            <tbody>
            <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/Gilgit"><strong>Gilgit and Hunza</strong></a></td>
               <td><a style="color:black; text-decoration:none;" href="/Peshawar"><strong>Peshawar</strong></a></td>

            </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/Islamabad"><strong>Islamabad</strong></a></td>
                                    <td><a style="color:red; text-decoration:none;" href="/Nathiagali"><strong>Nathia Gali</strong></a></td>

               </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/Karachi"><strong>Karachi</strong></a></td>
               <td><a style="color:black; text-decoration:none;" href="/Naaran"><strong>Naran , Kaghan, Shogran</strong></a></td>
               </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/Lahore"><strong>Lahore</strong></a></td>
                                    <td><a style="color:red; text-decoration:none;" href="/Quetta"><strong>Quetta</strong></a></td>

               </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/Murree"><strong>Murree</strong></a></td>
                                 <td><a style="color:black; text-decoration:none;" href="/Skardu"><strong>Skardu</strong></a></td>

               </tr>

            </tbody>
            <tbody>
         </table>
      </div>
   </div>
</section>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}