{% extends "layout.html" %}
{% block body %}
<section class="team-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">Top Places to Stay! </h2>
      </div>
      <div class="table-responsive">
         <table class="table">
            <tbody>
            <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/hotels_Gilgit"><strong>Gilgit</strong></a></td>
               <td><a style="color:black; text-decoration:none;" href="/hotels_Skardu"><strong>Skardu</strong></a></td>

            </tr>
             <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/hotels_Abbottabad"><strong>Abbottabad</strong></a></td>
                                    <td><a style="color:red; text-decoration:none;" href="/hotels_Bahawalpur"><strong>Bahawalpur</strong></a></td>

               </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/hotels_Islamabad"><strong>Islamabad</strong></a></td>
                                    <td><a style="color:black; text-decoration:none;" href="/hotels_Nathia Gali"><strong>Nathia Gali</strong></a></td>

               </tr>

               <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/hotels_Lahore"><strong>Lahore</strong></a></td>
                                    <td><a style="color:red; text-decoration:none;" href="/hotels_Quetta"><strong>Quetta</strong></a></td>
<tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/hotels_Karachi"><strong>Karachi</strong></a></td>
               <td><a style="color:black; text-decoration:none;" href="/hotels_Hunza"><strong>Hunza</strong></a></td>
               </tr>
               </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/hotels_Murree"><strong>Murree</strong></a></td>
                                 <td><a style="color:red; text-decoration:none;" href="hotels_Multan"><strong>Multan</strong></a></td>

               </tr>
            <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/hotels_Muzaffarabad"><strong>Muzaffarabad</strong></a></td>
                                 <td><a style="color:black; text-decoration:none;" href="hotels_Naran"><strong>Naran</strong></a></td>

               </tr>
            <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/hotels_Neelum Valley"><strong>Neelum Valley</strong></a></td>
                                 <td><a style="color:red; text-decoration:none;" href="hotels_Peshawar"><strong>Peshawar</strong></a></td>

               </tr>
             <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/hotels_Rawalpindi"><strong>Rawalpindi</strong></a></td>
                  <td><a style="color:black; text-decoration:none;" href="/hotels_Swat"><strong>Swat</strong></a></td>



            </tbody>
            <tbody>
         </table>
      </div>
   </div>
</section>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}