<style>
    .form-header h3
    {
        margin-top: 15px; text-align: center; margin-bottom: 15px;
    }
    .form-header label
    {
        margin-top: 15px; margin-bottom: 15px; text-align: center;
    }
    .category {
        width:100%;
        margin-bottom: 15px;
        height: 30px;
    }
    .wrap{
        width: 600px; margin: 0 auto; border: 3px solid grey; padding: 2rem; background:#F8F8FF;
    }
    @media only screen and (max-width: 767px) {
        .wrap{
            width:300px;
            border: 2px solid grey;
            padding: 1rem;}
        .but{
            padding: 3px;
            alignment: center;
            width: 100%;
        }
    }
    .but{
        background: darkcyan; font-weight: bold; padding: 5px;  text-transform: uppercase; cursor: pointer; alignment: center;width: 100%;
    }
    .wrap p{
        margin-top: 5px;
        color: black;
        text-align: center;
    }
</style>
{% extends "layout.html" %}
{% block body %}
<section class="team-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">Change Your Account Password </h2>
      </div>
   </div>
    <div class="form-header">
        <form action = "" class="wrap"  method = "post">
            <label>Previous Password</label><br>
            <input type="password" class="form-control" name="pre"value="{{ request.form.pre}}" placeholder="Previous Password" required />
    <label>New Password</label><br>
    <input type="password" class="form-control" value="{{ request.form.new }}" name="new" placeholder="New Password"required/>
    <label>Confirm New Password</label><br>
    <input type="password" class="form-control" value="{{ request.form.repeat }}"name="repeat" placeholder="Confirm Password"required /><br>

            <button class="btn btn-primary d-block w-100" style="background-color: darkcyan; margin-bottom: 10px;" type="submit">Change Password</button>
        {% if error %}
    <p class="error"><strong><center> {{ error }}</center></strong></p>
            {% endif %}</form>
    </div>
</section>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

{% endblock %}
