{% extends "layout.html" %}
{% block body %}
<section class="team-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">Plan Your Trip! </h2>
      </div>
      <div class="table-responsive">
         <table class="table">
            <tbody>
            <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/looking_for_hotels"><strong>Looking for Hotels</strong></a></td>

            </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/plan_by_destination"><strong>Plan by Destination</strong></a></td>

               </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:red; text-decoration:none;" href="/plan_by_budget"><strong>Plan by Budget</strong></a></td>
               </tr>
               <tr style="font-size: 18px;">
                  <td><a style="color:black; text-decoration:none;" href="/create_my_trip"><strong>Create and Save My Own Trip</strong></a></td>

               </tr>


            </tbody>
            <tbody>
         </table>
      </div>
   </div>
</section>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}