{% extends "layout.html" %}
{% block body %}
<section class="team-boxed">
   <div class="container">
      <div class="intro">
         <h2 class="text-center">Our Services</h2>
      </div>
      <div class="">
        <h4 style="font-size:16px;margin-top:25px; ">We provide the following services.<br><br>
        <ul>
            <li style="margin-bottom:5px;">Calculate Distance and Travel Costs.</li>
            <li style="margin-bottom:5px;">Sites worth visiting and Hotel Details.</li>
            <li style="margin-bottom:5px;">Search for Hotels within your Optimal Budget.</li>
            <li style="margin-bottom:5px;">Plan Vacation to your Desired Place (The Vacation Planner will calculate the cost both travel and residential).</li>
<li style="margin-bottom:5px;">Plan Vacation in your prescribed Budget (The Vacation Planner will show all the places that can be travelled to within that budget, you can then select any trip of his choice).</li>
            <li style="margin-bottom:5px;">Get Email Notifications.</li>   </ul></h4>

      </div>
   </div>
</section>
{% endblock %}